@import '_mixins';

:host {
  display: flex;
  flex-direction: column;
  ul {
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    li {
      padding: 0;
      width: 80px;
      cursor: pointer;
      &.active {
        background-color: color(active);
      }
      &:hover:not([class^='active']) {
        background-color: color(hover);
      }
      img {
        height: 30px;
        margin: 20px;
      }
    }
  }
}

img {
  filter: drop-shadow(2px 4px 6px black);
}
