@import '_variables';
@import '_mixins';
@import 'flexboxgrid.min.css';
@import '~@angular/material/theming';
@import '_theme';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@include mat-core();
@include angular-material-theme($sz-light-theme);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

// Scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: color(disabled, light);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: color(disabled, dark);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: color(hover);
}

// Typography

h1 {
  font-family: aRegular;
  font-weight: normal;
  font-size: 28px;
  color: color(black);
  font-variant: small-caps;
  user-select: none;
}

h2 {
  font-family: aRegular;
  font-weight: normal;
  font-size: 20px;
  font-variant: petite-caps;
  color: color(secondary);
  user-select: none;
}

h3 {
  font-family: mRegular;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: color(disabled, dark);
  font-variant: small-caps;
  user-select: none;
}

h4 {
  font-family: aBold;
  font-size: 16px;
  line-height: 24px;
  color: color(disabled, dark);
  font-variant: small-caps;
  user-select: none;
}

p {
  color: color(black);
  font-family: aRegular;
  font-weight: lighter;
}

img {
  height: 30px;
  user-select: none;
  &.school-logo {
    height: 40px;
    margin: 20px;
  }
}

ul {
  display: flex;
  list-style: none;
  li {
    padding: 0 size(padding);
  }
}

.side-element {
  display: flex;
  flex-direction: column;
  margin: size(margin);
  .side-header {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    img {
      height: 20px;
      margin-left: 4px;
    }
    h4 {
      text-align: right;
    }
    border-bottom: size(line) solid color(disabled);
  }
  .container {
    flex-grow: 1;
    width: 100%;
    height: 80px;
    margin-top: size(margin);
    display: flex;
  }
}

mat-icon {
  color: color(secondary);
  cursor: pointer;
  user-select: none;
  &:hover {
    color: color(hover);
  }
}

sz-logo {
  user-select: none;
}

p.empty {
  color: color(disabled, dark);
  font-size: 12px;
}

p.info {
  color: color(secondary);
  font-size: 16px;
}

span.link {
  text-decoration: underline;
  color: color(primary);
  cursor: pointer;
}
