<ul>
  <li class="active"><h3>Quick View</h3></li>
  <li><h3>Timetable</h3></li>
  <li><h3>Syllabus</h3></li>
  <li><h3>Exam Schedule</h3></li>
  <li><h3>Results</h3></li>
</ul>
<p>{{ date | date: 'fullDate' }}</p>
