<ul>
  <li>
    <img src="assets/icons/check-list.svg" alt="todo" />
  </li>
  <li><img src="assets/icons/turn-on.svg" alt="theme" /></li>
  <li><img src="assets/icons/moon.svg" alt="theme" /></li>
  <li>
    <img src="assets/icons/export.svg" alt="export" />
  </li>
  <li>
    <img src="assets/icons/loudspeaker.svg" alt="notifications" />
  </li>
</ul>
