@import '_mixins';

:host {
  display: flex;
  flex-direction: column;
  sz-header {
    height: 50px;
    border-bottom: size(line, thick) solid color(disabled);
    align-items: center;
  }
  sz-subnav {
    height: size(subnav, height);
    align-items: center;
  }
  sz-viewport {
    flex-grow: 1;
    background: color(bg);
    overflow: {
      x: auto;
      y: scroll;
    }
  }
}
